@import "config/colors";
@import "config/font_settings";
@import "components/card";

body {
  background-color: $off-black;
  color: white;
  font-family: serif;
  padding: 40px;
}

a {
  color: white;
  text-decoration: none;
  transition: color 100ms;

  &:focus,
  &:hover {
    color: blue
  }
}

.intro {
  max-width: 776px;

  p {
    font-family: $headers-font;
    font-weight: 100;
  }
}

hr {
  opacity: 1;
}
