<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Variables</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Update variables</h1>
  <div>
    <label for="spacing">Spacing</label>
    <input name="spacing" type="range">
  </div>

  <div>
    <label for="blur">Blur</label>
    <input name="blur" type="range">
  </div>

  <div>
    <label for="base-color"></label>
    <input name="base-color" type="color">
  </div>


<script>

</script>

</body>
</html>
