:root {
  --contrast: 100%;
  --blur: 10px;
  --brightness: 100%;

  --base-color: #ECE5D4;
  --color1: blue;
  --color2: blue;
  --color3: blue;
  --color4: blue;
}

h1 {
  color: var(--base-color);
}

.container-image {
  width: 100%;
  object-fit: cover;
  text-align: center;
}

.container-image svg {
  background: var(--base-color);
  max-width: 100%;
  filter: contrast(var(--contrast)) brightness(var(--brightness));
  /*filter: blur(var(--blur));*/
}
