.my-card {
  margin-bottom: 24px;
  border-radius: 8px;
  height: 200px;
  background-color: grey;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}

.gif-bg {
  background-color: white;
  opacity: 0.8;
}
