<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clock</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="clock">
  <div class="clock-face">
    <div class="hand hour-hand"></div>
    <div class="hand minute-hand"></div>
    <div class="hand second-hand"></div>
  </div>
</div>

<script>
 const setDate = () => {
  const now = new Date();
  const seconds = now.getSeconds();
  const minutes = now.getMinutes();
  const hours = now.getHours();

  const secondHand = document.querySelector('.second-hand');
  secondHand.style.transform = `rotate(${seconds * 6 - 90}deg)`;

  const secondHand = document.querySelector('.second-hand');
  secondHand.style.transform = `rotate(${seconds * 6 - 90}deg)`;

  const secondHand = document.querySelector('.second-hand');
  secondHand.style.transform = `rotate(${seconds * 6 - 90}deg)`;
 }

 setInterval(setDate, 1000);


</script>


</body>
</html>
