<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clock</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="clock">
  <div class="clock-face">
    <div class="hand hour-hand"></div>
    <div class="hand minute-hand"></div>
    <div class="hand second-hand"></div>
  </div>
</div>

<script>
 const setDate = () => {
  const now = new Date();
  const seconds = now.getSeconds();
  const minutes = now.getMinutes();
  const hours = now.getHours();

  const secondHand = document.querySelector('.second-hand');
  const secondDegrees = seconds * 360 / 60 + 270;
  if (secondDegrees === 624) { secondHand.style.transition = 'none' }
  secondHand.style.transform = `rotate(${secondDegrees}deg)`;

  const minuteDegrees = minutes * 360 / 60 + 270;
  const minuteHand = document.querySelector('.minute-hand');
  if (minuteDegrees === 2040) { minuteHand.style.transition = 'none' }
  minuteHand.style.transform = `rotate(${minuteDegrees}deg)`;

  const hourDegrees = hours * 360 / 12 + 270;
  const hourHand = document.querySelector('.hour-hand');
  if (hourDegrees === 600 || hourDegrees === 960) { hourHand.style.transition = 'none' }
  hourHand.style.transform = `rotate(${hourDegrees}deg)`;
 }

 setInterval(setDate, 1000);


</script>


</body>
</html>
