@font-face {
    font-family: 'GT Alpina';
    src: url('../../fonts/GTAlpinaBetav6-Regular.woff2') format('woff2'),
        url('../../fonts/GTAlpinaBetav6-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Alpina';
    src: url('../../fonts/GTAlpinaBetav6-Thin.woff2') format('woff2'),
        url('../../fonts/GTAlpinaBetav6-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Alpina';
    src: url('../../fonts/GTAlpinaBetav6-ThinItalic.woff2') format('woff2'),
        url('../../fonts/GTAlpinaBetav6-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


// FONT SETTINGS

$body-font: "Helvetica Neue", "Helvetica", "sans-serif";
$headers-font: 'GT Alpina', serif;

h1 {
  font-size: 6rem;
  font-family: $headers-font;
  font-weight: 100;
}

h3 {
  font-family: $headers-font;
  font-size: 2rem;
  font-weight: 100;
}

h4 {
  font-family: $headers-font;
  font-size: 1.6rem;
  font-weight: 100;
}

p {
  font-family: $body-font;
}
