html {
  font-size: 10px;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  background: #111111;
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: center;
  justify-content: center;
}

.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.key {
  margin: 1rem;
  font-size: 1.5rem;
  transition: all .07s ease;
  width: 4rem;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.playing {
  transform: scale(1.1);
  /*border: solid 1px;*/
  /*box-shadow: 0 0 1rem white;*/
}

kbd {
  display: block;
  background-color: rgba(255,255,255,0.05);
  border-radius: 6px;
  font-size: 2rem;
  font-family: "Helvetica", sans-serif
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

/* ANIMATIONS */

.animation[data-key="65"] {
  background: white;
  position: fixed;
  top: 30%;
  left: 40%;
  -webkit-animation: animateThisA 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
}

.animation[data-key="83"] {
  background: rgba(0,0,0,0);
  position: fixed;
  border-radius: 50%;
  top: 60%;
  left: 20%;
  -webkit-animation: animateThisS 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
}

.animation[data-key="68"] {
  background: salmon;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /*border-radius: 50%;*/
  -webkit-animation: animateThisD 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
}

.animation[data-key="70"] {
  background: white;
  position: fixed;
  top: 30%;
  left: 40%;
  -webkit-animation: animateThisF 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
}

.animation[data-key="71"] {
  background: rgba(0,0,0,0);
  position: fixed;
  border-radius: 50%;
  top: 60%;
  left: 20%;
  -webkit-animation: animateThisG 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
}

.animation[data-key="72"] {
  background: salmon;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /*border-radius: 50%;*/
  -webkit-animation: animateThisH 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
}

.animation[data-key="74"] {
  background: white;
  position: fixed;
  top: 30%;
  left: 40%;
  -webkit-animation: animateThisJ 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
}

.animation[data-key="75"] {
  background: rgba(0,0,0,0);
  position: fixed;
  border-radius: 50%;
  top: 60%;
  left: 20%;
  -webkit-animation: animateThisK 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
}

.animation[data-key="76"] {
  background: salmon;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /*border-radius: 50%;*/
  -webkit-animation: animateThisL 0.4s ease-out;
  -webkit-animation-fill-mode: forwards;
}



@-webkit-keyframes animateThisA {
  0% { width: 0px; height: 200px; left: 200px;}
  50% { opacity: 1;}
  100% { width: 400px; height: 0px; left: 100px; opacity: 0}
}

@-webkit-keyframes animateThisS {
  0% { width: 0px; height: 0px; left: 60%; border: solid 16px pink; }
  50% { opacity: 1;}
  100% { width: 200px; height: 200px; left: 60%; opacity: 0;  border: solid 0px pink; }
}

@-webkit-keyframes animateThisD {
  0% { border-radius: 0; opacity: 0.8; }
  100% { width: 0; height: 0; left: 50%; top: 50%; opacity: 0; border-radius: 30%; }
}

@-webkit-keyframes animateThisF {
  0% { width: 0px; height: 200px; left: 200px;}
  50% { opacity: 1;}
  100% { width: 400px; height: 0px; left: 100px; opacity: 0}
}

@-webkit-keyframes animateThisG {
  0% { width: 0px; height: 0px; left: 60%; border: solid 16px pink; }
  50% { opacity: 1;}
  100% { width: 200px; height: 200px; left: 60%; opacity: 0;  border: solid 0px pink; }
}

@-webkit-keyframes animateThisH {
  0% { border-radius: 0; opacity: 0.8; }
  100% { width: 0; height: 0; left: 50%; top: 50%; opacity: 0; border-radius: 30%; }
}

@-webkit-keyframes animateThisJ {
  0% { width: 0px; height: 200px; left: 200px;}
  50% { opacity: 1;}
  100% { width: 400px; height: 0px; left: 100px; opacity: 0}
}

@-webkit-keyframes animateThisK {
  0% { width: 0px; height: 0px; left: 60%; border: solid 16px pink; }
  50% { opacity: 1;}
  100% { width: 200px; height: 200px; left: 60%; opacity: 0;  border: solid 0px pink; }
}

@-webkit-keyframes animateThisL {
  0% { border-radius: 0; opacity: 0.8; }
  100% { width: 0; height: 0; left: 50%; top: 50%; opacity: 0; border-radius: 30%; }
}
