<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AJAX</title>
  <link rel="stylesheet" href="../unpublished/ajax_form/style.css">
</head>
<body>
  <div class="background">
  </div>

  <form class="search-form">
    <input type="text" class="search" placeholder="City or State">
    <ul class="suggestions">
      <li>Filter for a city</li>
      <li>or a state</li>
    </ul>
  </form>

<script>
  const endpoint = 'https://gist.githubusercontent.com/Miserlou/c5cd8364bf9b2420bb29/raw/2bf258763cdddd704f8ffd3ea9a3e81d25e2c6f6/cities.json';

  const cities = [];

  fetch(endpoint)
    .then(blob => blob.json())
    .then(data => cities.push(...data));

  const findMatches = (wordToMatch, cities) => {
    return cities.filter(place => {
      const regex = new RegExp(wordToMatch, 'gi');
      return place.city.match(regex) || place.state.match(regex);
    });
  }

  // function replaceImage() {

  //   const backgroundImg = document.querySelector('.background');
  //   const list = document.querySelectorAll('.list-item');

  //   list.forEach((item) => {
  //     item.addEventListener('click', (e) => {
  //       // backgroundImg.innerHTML = `<img src="${e.currentTarget.dataset.imgurl}" alt="">`
  //       // console.log(e.currentTarget.dataset.imgurl);

  //       const endpoint = `${e.currentTarget.dataset.imgurl}`;
  //       const text = fetch(endpoint)
  //         .then(blob => blob.text())
  //         .then(data => data.match(/o/));

  //       const img2 = document.querySelectorAll('img')[1];
  //       console.log(img2.srcset.split(' ')[12])
  //       // console.log(text.match(/(?<=\<h1>).*(?=\<\/h1>)/));
  //     })
  //   })
  // }

  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
  }

  function displayMatches() {
    const suggestions = document.querySelector('.suggestions');
    const matches = findMatches(this.value, cities);
    const regex = new RegExp(this.value, 'gi');

    const html = matches.map((match) => {
      const cityName = match.city.replace(regex, `<span class="hl">${this.value}</span>`);
      const stateName = match.state.replace(regex, `<span class="hl">${this.value}</span>`);
      return `
          <li class="list-item" data-imgUrl="https://unsplash.com/s/photos/${match.city}-${match.state}" target="_blank">
            <span class="name">${cityName}, ${stateName}</span>
            <span class="population">${numberWithCommas(match.population)}</span>
          </li>
          `
    }).join('');
    suggestions.innerHTML = html;

    if (this.value === '') {
      suggestions.innerHTML = '';
    }
    // replaceImage();
  }

  const searchInput = document.querySelector('.search');
  searchInput.addEventListener('keyup', displayMatches);

</script>

</body>
</html>
