---
title: JS30
---

<div class="page-wrapper">
  <h1 class="mb-3 mt-0">
    JS Experiments
  </h1>

  <div class="intro mb-3">
    <h3 class="mb-5">Hi and welcome to my <i>JS Experiments</i> diary.
      I'll be sharing explorations based on the exercises from Wes Bos' Vanilla coding challenge.
      My approach usually consists in solving the challenge on my own, adding some visual styling and finally compare my code with the solution.
      <br>
      Enjoy your visit!</h3>

    <p>View on GitHub</p>
  </div>

  <hr class="mt-5">
</div>

<% days = ["1. Drum Kit", "2. Clock", "3. Color your flowers"] %>

<div class="row mt-5">
  <% days.each_with_index do |day, index| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <% link_to "challenges/0#{index + 1}/index.html" do %>
        <h4><%= day %></h4>
        <div class="my-card">
        </div>
      <% end %>
    </div>
  <% end %>
</div>

