---
title: JS30
---

<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 340" class="middleman-logo" aria-labelledby="middleman-logo__title" role="img">
  <title id="middleman-logo__title">JS30</title>
  <path class="middleman-logo__top-left-bar" fill-opacity=".45" d="M0 40L200 0v30L0 60z"/>
  <path class="middleman-logo__top-right-bar" fill="#fff" d="M200 0l200 40v20L200 30z"/>
  <path class="middleman-logo__left-m" fill-opacity=".45" d="M0 78v184l45 5V152l45 83 47-83v129l53 7V52l-57 8-43 83-43-70z"/>
  <path class="middleman-logo__right-m" fill="#fff" d="M400 78v184l-45 5V152l-45 83-47-83v129l-53 7V52l57 8 43 83 43-70z"/>
  <path class="middleman-logo__bottom-left-bar" fill-opacity=".45" d="M0 300l200 40v-30L0 280z"/>
  <path class="middleman-logo__bottom-right-bar" fill="#fff" d="M200 340l200-40v-20l-200 30z"/>
</svg> -->
<div class="page-wrapper">
  <h1 class="mb-3 mt-0">
    JS Experiments
  </h1>

  <div class="intro mb-3">
    <h3 class="mb-5">Hi and welcome to my <i>30 days of JS</i> diary. I'll be sharing my experiments in order to stay accountable to my goals of self-learning.
    Enjoy your visit!</h3>

    <p><i>Based on 30 day Vanilla Coding Challenge by Wes Bos</i></p>
  </div>

  <hr class="mt-5">
</div>

<!--
<%= link_to(
  "Read Documentation",
  "challenges/01/index.html"
) %> -->

<% days = ["Day 1: JS Drum Kit", "Day 2: JS and CSS Clock"] %>

<div class="row mt-5">
  <% days.each_with_index do |day, index| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <% link_to "challenges/0#{index + 1}/index.html" do %>
        <h4><%= day %></h4>
        <div class="my-card">
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<!-- <div class="row">
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card">
      Hello
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card">
      Hello
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card">
      Hello
    </div>
  </div>
</div>
 -->
