---
title: JS30
---

<div class="page-wrapper">

  <div class="intro mb-3">
    <h4 class="mb-5">Hi and welcome to my <i>JS Experiments</i> diary where I share the results from Wes Bos' Vanilla coding challenge.
      My approach usually consists in first solving the challenges on my own, then further exploring the concepts.
      <br>
      Enjoy your visit!</h4>

    <p>View on <u><%= link_to "GitHub", 'https://github.com/utilisateur387/JS30', target: '_blank' %></u></p>
  </div>

  <hr>
</div>

<% days = ["1. Drum Kit", "2. Clock", "3. Color your flowers"] %>

<div class="row mt-5">
  <% days.each_with_index do |day, index| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <% link_to "challenges/0#{index + 1}/index.html" do %>
        <h4><%= day %></h4>
        <div class="my-card">
          <% if File.exist?("source/challenges/0#{index + 1}/images/cover.gif") %>
            <img src="challenges/0<%= index + 1 %>/images/cover.gif" class="gif-bg" alt="" >
          <% else %>
            <img src="challenges/0<%= index + 1 %>/images/cover.png" alt="">
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

